<!DOCTYPE html>
<head th:replace="~{base::head}"></head>
    <body>
        <div th:replace="~{base::logo}"></div>

        <div class="container">
            <div th:replace="~{base::top('login')}"></div>

            <div class="card">
                <form th:action="@{/login}" class="card-body " method="post">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input name="username" class="form-control" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input name="password" type="password" class="form-control" placeholder="Senha">
                    </div>
                    <div class=" d-flex justify-content-end" >
                        <button class=" btn btn-outline-primary " type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>