<!DOCTYPE html>

<head th:replace="~{base::head}"> </head>

<body onload="onLoad()">
    <div th:replace="~{base::logo}"></div>
    <div class="container" id="ofertas">
        <div th:replace="~{base::top('Últimos Pedidos')} "></div>

        <div class="card mb-3" v-for="pedido in pedido">
            <div class="card-header alert-dark ">{{pedido.name}}</div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-9 mb-3">
                        <div class="row">
                            <div class="col-12 col-md-5">Valor: <input /> </div>
                            <div class="col-12 col-md-7">Data de entrega: <input /> </div>
                        </div>
                        <div class="mt-2">Produto</div>

                        <div>
                            <a v-bind:href="pedido.urlProduct">{{pedido.name}}</a>
                        </div>

                        <div class="mt-2 mb-1">Descrição</div>
                        <div>
                            <textarea class="form-control">{{pedido.description}}</textarea>
                        </div>

                    </div>
                    <div class="col-12 col-sm-3 ">
                        <div>
                            <img class="img-thumbnail" v-bind:src="pedido.urlImage" src="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        function onLoad() {

            const { createApp } = Vue

            createApp({

                data() {
                    return {
                        pedido: []
                    }
                },
                mounted() {
                    axios
                        .get('http://localhost:8080/api/pedido/entregue')
                        .then(response => (this.pedido = response.data))
                }

            }).mount('#ofertas')
        }
    </script>
</body>

</html>